nav {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}
  nav ul li {
    display: flex;
    list-style-type: none;
    margin-right: 5%; 
    font-size: 150%;
}
/* Make it so after clicking link, words don't turn purple */
nav ul li a:visited {
    color: black;
}
/* Create hover effect for nav bar links */
nav ul li a:hover {
    color: red;
}

.invoice-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px; /* Set a maximum width */
    margin: 0 auto; /* Auto margins for equal space on both sides */
    padding: 20px; /* Optional padding */
}

.invoice-item {
    display: flex;
    align-items: top;
    margin-bottom: 20px;
}

.invoice-item img {
   width: 25%;
   height: auto;
   margin-right: 25px; /* Increase right margin */
   margin-bottom: 10px; /* Add bottom margin if needed */
}

.item-details {
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 40px;
    text-align: center;
}
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: #fff;
    color: #333; 
    width: 80%;
}


th, td {
    text-align: left; /* Align text to the left in table headers and cells */
    border: 2px solid #000; /* Black border for table headers and cells */
    padding: 8px; /* Spacing inside cells */
}

th {
    background-color: #f2f2f2; /* Light grey background for table headers */
    font-weight: bold; /* Make table headers bold */
}

td {
    background-color: #fff; /* White background for table cells */
}

/* Style for the total, subtotal, tax, and shipping rows */
.summary-row {
    font-weight: bold; /* Make summary text bold */
}

.summary-value {
    text-align: right; /* Align summary values to the right */
}

/* Policy section styling */
.policy {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin-top: 20px; /* Add spacing above the policy section */
    font-size: 0.9em; /* Smaller font size for the policy text */
    font-weight: bold; /* Bold font for emphasis */
}

/* Apply additional styles as needed */
