nav {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    border-bottom: 1px solid black;
}
nav ul {
    display: flex;
    list-style-type: none;
  }
  nav ul li {
    margin-right: 35%; 
    font-size: 150%;
}
/* Make it so after clicking link, words don't turn purple */
nav ul li a:visited {
    color: black;
}
/* Create hover effect for nav bar links */
nav ul li a:hover {
    color: red;
}
.invoice-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 50%; /* Set a maximum width */
}
.invoice-item {
    display: flex;
    align-items: top;
    margin-bottom: 20px;
}
.invoice-item img {
   width: 30%;
   height: auto;
   margin-right: 25px; /* Increase right margin */
   margin-bottom: 5px; 
}
.item-details {
    display: flex;
    flex-direction: column;
}
.item-header {
    display: flex;
    justify-content: space-between;
}
.item-total {
    margin-left: auto;
}
.item-name {
    flex: 0 0 300px; 
}
h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: #fff;
    color: #333; 
}
.dashed-line {
    border-bottom: 1px dashed #000; 
    width: 100%; 
    margin: 20px 0;
}
/* Style for the total, subtotal, tax, and shipping rows */
.summary-row {
    font-weight: bold; /* Make summary text bold */
}

.summary-value {
    text-align: right; /* Align summary values to the right */
}

/* Policy section styling */
.policy {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin-top: 20px; /* Add spacing above the policy section */
    font-size: 0.9em; /* Smaller font size for the policy text */
    font-weight: bold; /* Bold font for emphasis */
    justify-content: center;
    align-items: center;
}

