/*styling for the body of the page*/
body {
  font-family: "Optima", sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 14px;
  background-image: url("https://github.com/anmell/ITM352_S23_repo/blob/main/Mellor_Alanna_Assignment1/public/Images/Flying%20cards.png?raw=true");
  background-repeat: repeat;
  background-position: center;
}
 /* styling my navigation bar */
 nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(212, 212, 212, 0.792);
  margin-bottom: 15px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  margin: 0 10px;
}

nav a {
  font-family: "Optima", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
}

/*styling for the actual invoice table*/
table {
  border-collapse: collapse;
  border: 10 px;
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*styling for the table head*/
th {
  background-color: rgb(199, 199, 199);
  color: rgb(0, 0, 0);
}


/* style for the shipping policy notice*/
footer {
  text-align: center;
}