 /* styling for the entire page */

 html {
   background: rgba(255, 255, 255, 0.792);
 }

 /* styling my navigation bar */
 nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgba(212, 212, 212, 0.792);
   margin-bottom: 15px;
 }

 nav ul {
   display: flex;
   list-style-type: none;
 }

 nav li {
   margin: 0 10px;
 }

 nav a {
   font-family: "Optima", sans-serif;
   color: rgb(0, 0, 0);
   font-size: 20px;
   font-weight: bold;
 }


 /* styling for the main contents of the page*/
 body {
   font-family: "American Typewriter", sans-serif;
   margin: 0 auto;
   padding: 0;
 }

 /* styling the header: House of Cards */
 header {
   background: rgba(255, 255, 255, 0.792);
 }

 /* styling for the page title and title of each product*/
 h1 {
   font-family: "Optima", sans-serif;
   color: rgb(182, 18, 18);
   text-align: center;
 }


 h2 {
   font-family: "Optima", sans-serif;
   color: rgb(182, 18, 18);
   text-align: center;
 }

 /* styling for the actual prodcts itself*/
 section {
   border: 2px solid black;
   border-radius: 16px;
   padding: 10px;
   margin: 10px;
   background-color: rgba(255, 254, 254, 0.933);
 }


 /* styling for everything but the images of each product: product name, price, available, etc. */
 p,
 span {
   text-align: center;
   color: rgb(0, 0, 0);
   padding-left: 10px;
   padding-right: 10px;

 }

 /* styling the images of each product */
 .item img {
   padding: 10px;
   width: 150px;
   height: 200px;
   border: 1px solid rgb(124, 4, 4);
   border-radius: 16px;

 }

 /* block styling*/

 body>div>main {
   flex-direction: column;
   display: flex;
   align-items: center;
 }

 /*  Form styling */

 form {
   display: flex;
   flex-flow: row wrap;
   text-align: center;
   align-items: center;

 }

 /* styling the purchase button */
 footer {
   text-align: center;
   padding: 25px;
 }