h1, h2 {
    font-family: 'Oswald';
}

body {
    font-family: 'Open Sans';
    color: yellow;
    margin-top: 10px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    width: 950px;
    background-color: black;
}

img {
    text-align: center;

}

.tableOfContents ul, li {
    display: flex;
}
